<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="drinkingApp" id="appTop">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-controller="MenuCtrl" layout="column" layout-fill>
    <section layout="row" flex>
        <md-content flex>
            <div layout="column" layout-fill layout-align="center center">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">
                            <md-button aria-label class="menuButton"><img class="menuIcon" ng-src="images/material-sprites/ic_menu_white_24dp.png" alt="Menu"  ng-click="open()"></md-button>
                        <span id="appTitle">Let's Get Drunk</span>
                    </h1>
                </md-toolbar>
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools" >
                            <md-button aria-label class="menuButton"><img class="menuIcon" ng-src="images/material-sprites/ic_arrow_back_white_24dp.png" alt="Close Menu"  ng-click="close()"></md-button>
                            Menu
                        </h1>
                    </md-toolbar>
                    <md-content class="md-padding" >
                        <md-button ng-if="gameInProgress"class="md-primary" ng-click="loadPage('/turn')">
                            Continue Game
                        </md-button>
                    </md-content>
                    <md-content class="md-padding">
                        <md-button class="md-primary" ng-click="loadPage('/play')">
                            New Game
                        </md-button>
                    </md-content>
                    <md-content class="md-padding">
                        <md-button class="md-primary" ng-click="loadPage('/rules')">
                            Rules
                        </md-button>
                    </md-content>
                    <md-content class="md-padding" >
                        <md-button class="md-primary" ng-click="loadPage('/contact')">
                            Contact
                        </md-button>
                    </md-content>
                </md-sidenav>
                    <div ng-view=""></div>
            </div>
        </md-content>
    </section>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
            (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/game.js"></script>
<script src="scripts/services/players.js"></script>
<script src="scripts/services/quests.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/menu.js"></script>
<script src="scripts/controllers/rules.js"></script>
<script src="scripts/controllers/contact.js"></script>
<script src="scripts/controllers/play.js"></script>
<script src="scripts/controllers/turn.js"></script>
<!-- endbuild -->
</body>
</html>
