<md-card ng-controller="MainCtrl">
    <md-toolbar class="md-theme-light md-default-theme">
        <h1 class="md-toolbar-tools">
            <span>Alright Sugar Tits?</span>
        </h1>
    </md-toolbar>
    <md-card-content>
        <img src="images/beer.png" alt="Such beer, so icon, logo, wow.">
        <a ng-href="#/play" id="playButton" class="md-raised md-button md-primary md-default-theme"><h2>Jesus Christ</h2><div class="md-ripple-container"></div></a>
    </md-card-content>
</md-card>

