<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="panel panel-default" id="addPlayer">
            <div class="panel-heading">Add a Player
            </div>
            <div class="panel-body">
                <form ng-submit="addPlayer()" >
                    <label for="playerName">Name: </label>
                    <input type="text" id="playerName" name="playerName" ng-model="player.name" required>
                    <button class="btn btn-default" type='submit'>Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-default" id="listPlayers">
            <div class="panel-heading">
                <h2>Players</h2>
            </div>
            <div class="panel-body">            
                <div ng-if="players.length < 2">
                    <p class="text-muted"><em>Add at least 2 players to the game!</em></p>
                </div>            
                <div class="col-xs-4 col-xs-offset-8">
                    <div class="btn btn-default" ng-click="removeAllPlayers()">Clear All</div>
                </div>
                <hr style="width: 100%;"/>
                <div ng-repeat="addedPlayer in players">
                    <div class="col-xs-8">{{addedPlayer.name}}</div>
                    <div class="col-xs-4">
                        <div class="btn btn-default" ng-click="removePlayer(addedPlayer)">Remove</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn btn-lg btn-primary col-xs-12" ng-if="players.length > 1" ng-click="newGame()">
            BRING THE MAYHEM
        </div>
    </div>
</div>






