<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Turn {{turnCounter}}</h1>
    </div>
    <div class="panel-body">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-muted">Next Player</p>
                    <h2>{{player.name}}</h2>        
                </div>                
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <p class='text-muted'>Players effected</p>
                    <div ng-repeat="player in players_effected">
                        {{player.name}}
                        <br>
                    </div>
                </div>
            </div>
            
            <hr>
            <h2>{{quest.title}}</h2>

            <p>{{quest.description}}</p>
        </div>
        <div class="col-xs-6">


            <div ng-if="game.effects.length > 0" class="panel panel-default">
                <div class="panel-heading">
                    Game Effects
                </div>
                <div class="panel-body">
                    <div class="label col-xs-12"
                         ng-class="{'label-success': effect.type == 'good','label-warning': effect.type == 'bad', 'label-danger': effect.type == 'evil'}"
                         ng-repeat="effect in game.effects">
                        {{effect.title}}<span ng-if="effect.expires">(Expires Turn {{effect.expires}})</span>
                    </div>
                </div>
            </div>


            <div ng-if="player.effects.length > 0" class="panel panel-default">
                <div class="panel-heading">
                    Player Effects
                </div>
                <div class="panel-body">
                    <div class="label col-xs-12"
                         ng-class="{'label-success': effect.type == 'good','label-warning': effect.type == 'bad', 'label-danger': effect.type == 'evil'}"
                         ng-repeat="effect in player.effects">
                        {{effect.title}}<span ng-if="effect.expires"> (Expires Turn {{effect.expires}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 btn btn-primary" ng-click="nextPlayer()">Next Player</div>